.fit-point-input {
  height: 100%;
  margin: 15vh 2vw 0 2vw;
  font-family: Roboto;
}

.fit-point-input * {
  text-align: center;
}

.fit-point-input h1 {
  font-size: 2vw;
  color: rgb(128, 128, 128);
  margin: 20px 0;
  font-family: Raleway;
}

.fit-point-input .fit-point-dropzone-and-table {
  display: flex;
  justify-content: space-evenly;
}

.fit-point-input .fit-point-dropzone-and-table .fit-point-points-table {
  width: 50vw;
}
