.cheby-result-presentation-drawing {
  stroke: black;
  stroke-width: 3;
  display: inline-block;
  position: relative;
  width: 30vw;
  height: 30vw;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.cheby-result-presentation-drawing .cheby-drawing-svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.cheby-result-presentation-drawing .line-cheby-cf {
  stroke-width: 3;
  stroke-dasharray: 3, 10;
  stroke-linecap: square;
}

.cheby-exterior-circle {
  fill: #e5e36e;
  fill: #f0f0ca;
}

.cheby-interior-circle {
  fill: white;
}

.chebychev-circle {
  stroke-width: 3;
  stroke-dasharray: 5, 20;
  stroke-linecap: round;
  fill: none;
}

.cheby-points {
  stroke: black;
  stroke-width: 1;
}

.cheby-circle-points {
  fill: none;
  stroke: red;
  stroke-width: 1;
}

.cheby-result-presentation-drawing text.cheby-line-text-radius {
  font-family: Roboto;
  font-size: 25px;
  fill: #0d731d;
  font-weight: bold;
  stroke: none;
}

.cheby-result-presentation-drawing text.cheby-line-text-chebyDist {
  font-family: Roboto;
  font-size: 25px;
  fill: #03c4f9;
  font-weight: bold;
  stroke: none;
}
