.three-d-trafo-input {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 12px;
  font-family: Roboto;
}

.three-d-trafo-input * {
  text-align: center;
}

.three-d-trafo-input h1 {
  display: flex;
  justify-content: space-around;
  border-bottom: 3px solid #0270a5;
  padding-bottom: 5px;
  margin: 20px 45px;
}

.three-d-trafo-input h1 .info-btn {
  font-size: 0.6em;
}

.start-input {
  width: 25vw;
  margin-left: 16vw;
}

.target-input {
  width: 35vw;
  margin-left: 5vh;
}
