.chebyshev-circle-fit-result {
  height: 100%;
  margin: 12vh 2vw 5vh 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: Roboto;
}

.cheby-cf-result-presentation {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.cheby-cf-radius-text {
  color: #18748e;
  color: #0d731d;
}

.cheby-cf-chebyDist-text {
  color: #03c4f9;
}

.chebyshev-circle-fit-result h1 {
  color: rgb(128, 128, 128);
  margin: 20px 0;
  font-family: Raleway;
  font-size: 2.5vw;
}

.chebyshev-circle-fit-result .result-table {
  width: 30vw;
  height: 65vh;
  border-collapse: collapse;
}

.chebyshev-circle-fit-result .result-table * {
  font-size: 1.2vw;
  text-align: center;
}

.chebyshev-circle-fit-result .result-table th {
  padding: 1vh 1vw 1vh 0;
}

.chebyshev-circle-fit-result .result-table .caption {
  background-color: #d5d5d5;
}

.chebyshev-circle-fit-result .copy {
  font-size: 0.8em;
  padding: 10px;
}

.copy-to-clippi {
  padding-left: 0px;
}

.chebyshev-circle-fit-result .copy:hover {
  cursor: pointer;
}
