.points-table * {
  font-size: 1vw;
  font-family: Roboto;
  text-align: center;
}

.points-table {
  max-height: 60vh;
  overflow: auto;
}

.points-table .trash-icon {
  color: darkred;
  border: none;
}

.points-table .trash-icon:hover {
  cursor: pointer;
  color: rgb(180, 0, 0);
}

.points-table .trash-icon:focus {
  outline: 0;
}

.points-table table {
  width: 100%;
  border-collapse: collapse;
}

.points-table th {
  padding: 2vh;
}

.points-table tr {
  height: 40px;
}

.points-table th:first-child {
  width: 40px;
  padding: 0vh 2vh;
}

.points-table .grey {
  color: #afa993;
  background-color: rgb(52, 54, 57);
}
