.points-table * {
  font-size: 1.05em;
}

.points-table {
  padding-top: 20px;
}


.points-table table {
  width: 100%;
} 

.points-table th {
  width: 10%;
}

.points-table th {
  padding: 5px 10px;
}

.points-table .margin-right {
  padding-right: 40px;
}
