.error-screen {
  width: 82vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 4vh 0 0 16vw;
  font-family: Roboto;
  text-align: center;
}

.error-screen .error-header {
  font-size: 5em;
  border-bottom: none;
}

.error-screen .error-span {
  color: darkred;
  font-size: 1em;
  border-bottom: 0;
}

.error-screen .error-message {
  font-size: 1.3em;
}

.error-screen .s3d-info {
  font-size: 1.5em;
  white-space: pre-wrap;
}

.error-screen .s3d-info .s3d-contact-info {
  font-size: 0.8em;
  margin-top: 30px;
}

.error-screen .s3d-info .s3d-contact-info .links * {
  display: inline;
}
