.select-apps-screen .buttons-display {
  display: flex;
}

.select-apps-screen {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 15vw;
}

.select-apps-screen * {
  text-decoration: none;
}

.select-apps-screen a:hover {
  text-decoration: none;
}
