.select-apps-screen {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 11vh 2vw 0 2vw;
}

.select-apps-screen * {
  text-decoration: none;
}

.select-apps-screen a:hover {
  text-decoration: none;
}
