.select-apps-screen {
  height: 100%;
  width: 80vw;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 15vw;
}

.select-apps-screen * {
  text-decoration: none;
}

.select-apps-screen a:hover {
  text-decoration: none;
}
