.fit-point-result-table {
  width: 92%;
  border-collapse: collapse;
}

.fit-point-result-table * {
  font-size: 1.05em;
  text-align: center;
}

.fit-point-result-table th {
  padding: 10px 0;
}

.fit-point-result-table .caption {
  color: #afa993;
  background-color: rgb(52, 54, 57);
}

.fit-point-result-table .copy {
  font-size: 0.8vw;
  padding: 10px;
}

.fit-point-result-table .copy:hover {
  cursor: pointer;
}
