.back-to-input-btn {
  background: none;
  color: white;
  z-index: 999;
  border: none;
  opacity: 0.8;
}

.back-to-input-btn .arrow-left {
  font-size: 3vw;
  margin-bottom: 1vh;
}

.back-to-input-btn:hover {
  opacity: 1;
}
