.back-to-input-btn {
  padding: 20px 80px;
  border: none;
  border-radius: 2px;
  font-size: 2em;
  color: #292929;
}

.back-to-input-btn:hover {
  cursor: pointer;
  background: #d5d5d5;
}

.back-to-input-btn .arrow-left {
  display: inline-block;
  font-size: 1.3em;
}

.bundle-adjustment-result .back-to-input-btn .arrow-left svg {
  vertical-align: baseline !important;
}
