.fit-cylinder-result {
  height: 100%;
  margin: 12vh 2vw 5vh 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
}

.fit-cylinder-result h1 {
  color: rgb(128, 128, 128);
  margin: 20px 0;
  font-family: Raleway;
  font-size: 2.5vw;
}

.fit-cylinder-result .bar-graph {
  width: 80%;
  height: 40vh;
  margin-top: 5vh;
}
