.apply-trafo {
  height: 100%;
  margin: 15vh 2vw 0 2vw;
  font-family: Roboto;
}

.apply-trafo * {
  text-align: center;
}

.apply-trafo h1 {
  color: rgb(128, 128, 128);
  margin: 20px 0;
  font-family: Raleway;
  font-size: 2.5vw;
}

.apply-trafo .input-area {
  margin-top: 5vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
}

.apply-trafo .dropzone {
  padding: 50px;
  width: 100%;
}

.apply-trafo .trafo-params-input {
  width: 20%;
}

.apply-trafo .trafo-params-input form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 1.3em;
  height: 60vh;
}

.apply-trafo .points-input {
  width: 30%;
}

.apply-trafo .points-table {
  width: 40%;
}

.apply-trafo input {
  margin-left: 10px;
}

.apply-trafo form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
