.apply-trafo {
  width: 82vw;
  height: 100%;
  margin-top: 2vh;
  margin-left: 16vw;
  font-family: Roboto;
}

.apply-trafo * {
  text-align: center;
}

.apply-trafo h1 {
  color: rgb(128, 128, 128);
  margin: 20px 0;
  font-family: Raleway;
}

.apply-trafo .input-area {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.apply-trafo .dropzone {
  padding: 50px;
  width: 100%;
}

.apply-trafo .trafo-params-input {
  width: 60%;
  font-size: 1.3em;
}

.apply-trafo .points-input {
  width: 40%;
}

.apply-trafo .points-table {
  width: 100%;
}

.apply-trafo input {
  margin-left: 10px;
}

.apply-trafo form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.apply-trafo form .input-section-one {
  display: flex;
  flex-direction: column;
}

.apply-trafo form .input-section-two {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
