.fit-circle-l2-result-table {
  width: 92%;
  border-collapse: collapse;
}

.fit-circle-l2-result-table * {
  font-size: 1vw;
  text-align: center;
}

.fit-circle-l2-result-table th {
  padding: 1vh 0;
}

.fit-circle-l2-result-table .caption {
  color: #afa993;
  background-color: rgb(52, 54, 57);
}

.fit-circle-l2-result-table .copy {
  font-size: 0.8vw;
  padding: 0.6vw;
}

.fit-circle-l2-result-table .copy:hover {
  cursor: pointer;
}
