.info-btn {
  border: none;
  background: none;
  position: fixed;
  top: 1vh;
  right: 1vw;
}

.info-btn:hover {
  cursor: pointer;
}

.info-btn .info-sign {
  color: rgb(20, 20, 150);
  font-size: 1.5em;
}
