.param-inversion {
  width: 82vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 2vh;
  margin-left: 16vw;
  font-family: Roboto;
}

.param-inversion * {
  text-align: center;
}

.param-inversion h1 {
  font-size: 3em;
  padding-bottom: 5px;
  color: rgb(128, 128, 128);
  margin: 20px 0;
  font-family: Raleway;
}

.param-inversion .input-display {
  width: 65vw;
  display: flex;
  justify-content: space-around;
  font-size: 1.3em;
}

.param-inversion input {
  margin-left: 10px;
}

.param-inversion form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.param-inversion textarea {
  width: 50%;
  font-size: 1.4em;
}

.param-inversion .param-submit-btn {
  width: 65vw;
  margin-top: 4vh;
  padding: 40px 0;
  border: 3px #06a solid;
  background: #b5d5ff;
  border-radius: 3px;
  font-size: 1.2em;
  letter-spacing: 1px;
}

.param-inversion .param-submit-btn:focus {
  outline: 0;
}
