.quat-cardan {
  margin: 15vh 2vw 0 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: Roboto;
}

.quat-cardan * {
  text-align: center;
}

.quat-cardan h1 {
  color: rgb(128, 128, 128);
  margin: 0;
  font-family: Raleway;
  font-size: 2.5vw;
}

.quat-cardan .inputs {
  width: 100%;
  margin-top: 4vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.quat-cardan .inputs .quat-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
  padding: 5vh 0;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 0 5vw;
}

.quat-cardan .inputs .cardan-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
  padding: 5vh 0;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 0 5vw;
}

.quat-cardan .inputs .quat-input form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.4vw;
  margin: 0 5vw;
}

.quat-cardan .inputs .quat-input form input {
  margin-left: 14px;
  margin-bottom: 2vh;
}

.quat-cardan .inputs .cardan-input form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.4vw;
  margin: 0 5vw;
}

.quat-cardan .inputs .cardan-input form input {
  margin-left: 14px;
  margin-bottom: 2vh;
}

.quat-cardan .inputs button {
  border: none;
  margin-top: 5vh;
  padding: 2vh 5vw;
  font-size: 1.6vw;
  width: 70%;
  border-radius: 3px;
}

.quat-cardan .inputs button:hover {
  background: rgb(226, 226, 226);
}

.quat-cardan .inputs button:focus {
  outline: 0;
}

.quat-cardan .inputs button:active {
  background: rgb(232, 232, 232);
}
