.fit-plane-gauss-input {
  height: 100%;
  margin: 15vh 2vw 0 2vw;
  font-family: Roboto;
}

.fit-plane-gauss-input * {
  text-align: center;
}

.fit-plane-gauss-input h1 {
  font-size: 2vw;
  color: rgb(128, 128, 128);
  margin: 20px 0;
  font-family: Raleway;
}

.fit-plane-gauss-input .fit-plane-gauss-dropzone-and-table {
  display: flex;
  justify-content: space-evenly;
}

.fit-plane-gauss-input
  .fit-plane-gauss-dropzone-and-table
  .fit-plane-gauss-points-table {
  width: 50vw;
}
