.chebyshev-circle-fit-input {
  width: 74%;
  margin-left: 220px;
  margin-top: 35px;
  font-family: Roboto;
}

.chebyshev-circle-fit-input * {
  text-align: center;
}

.chebyshev-circle-fit-input .circle-input h1 {
  display: flex;
  justify-content: space-around;
  border-bottom: 3px solid #0270a5;
  padding: 0 50px 5px;
  margin: 20px 300px;
}

.chebyshev-circle-fit-input .info-section {
  display: inline-block;
}

.chebyshev-circle-fit-input .info-section .info-btn {
  font-size: 0.6em;
}

.circle-input {
  width: 85%;
  margin-right: 20px;
}
