.loading-screen {
  height: 60vh;
  margin: 15vh 2vw 0 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: Roboto;
}

.loading-screen .fa-spinner {
  font-size: 12em;
  color: #515151;
  animation: spin 2000ms infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
