.bundle-adjustment-result {
  height: 100%;
  margin: 2vh 2vw 0 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
}

.bundle-adjustment-result h1 {
  font-size: 3vw;
  border-bottom: 3px solid #0375ba;
  font-family: Raleway;
}
