.Sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 14vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #343639;
  overflow-x: hidden;
}

.Sidebar a.link span {
  height: 100%;
  display: block;
  width: 100%;
  font-family: Roboto;
  color: white;
  text-decoration: none;
  opacity: 0.7;
}

.Sidebar a.link-active span {
  height: 100%;
  display: block;
  width: 100%;
  font-family: Roboto;
  color: white;
  text-decoration: none;
  opacity: 1;
}

.Sidebar a.link:hover {
  display: block;
  font-family: Roboto;
  color: white;
  text-decoration: none;
  border: none;
}

.Sidebar a.link:hover span {
  opacity: 1;
}

.Sidebar a.link-active:hover {
  display: block;
  font-family: Roboto;
  text-decoration: none;
  border: none;
}

.Sidebar .sidebar-link-container {
  font-size: 1.15em;
  text-transform: uppercase;
  padding: 10px;
  width: 100%;
}

.Sidebar .sidebar-link-container:hover {
  animation: size-transition linear 200ms forwards;
  background-color: #505251;
}

.Sidebar .logo {
  background-image: url('./s3dlogo.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin: 25px 0 20px;
}

.Sidebar .logo:hover {
  animation: size-transition linear 200ms forwards;
}

.Sidebar .info-section {
  align-self: flex-start;
  text-align: left;
  position: fixed;
  color: white;
  bottom: 10px;
  margin-left: 15px;
}

.Sidebar .info-section a {
  text-decoration: none;
  color: white;
  opacity: 0.8;
}

.Sidebar .info-section a:hover {
  opacity: 1;
}

@keyframes size-transition {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
