.Sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #343639;
  overflow-x: hidden;
}

.Sidebar .link {
  font-family: Roboto;
  color: white;
  text-decoration: none;
  opacity: 0.8;
}

.Sidebar .link:hover, .Sidebar .link-active {  
  font-family: Roboto;
  opacity: 1;
  text-decoration: none;
  margin: 10px 0;
  color: white;
  opacity: 1;
}

.logo {
  background-image: url('./s3dlogo.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin: 25px 0 20px;
}