.apply-trafo-result {
  height: 100%;
  margin: 2vh 2vw 0 20vw;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.apply-trafo-result h1 {
  font-size: 3vw;
  border-bottom: 3px solid #0375ba;
  margin-bottom: 5vh;
  font-family: Raleway;
}

.apply-trafo-result .result-table {
  width: 70%;
  border-collapse: collapse;
}

.apply-trafo-result .result-table * {
  font-size: 1.3vw;
  text-align: center;
}

.apply-trafo-result .result-table th {
  padding: 2vh 0;
}

.apply-trafo-result .result-table th.pointId {
  width: 10%;
  background-color: #d9e9f0;
}

.apply-trafo-result .result-table .caption {
  background-color: #d9e9f0;
}
