.apply-trafo-result {
  height: 100%;
  margin: 15vh 2vw 0 2vw;
  font-family: Roboto;
}

.apply-trafo-result h1 {
  color: rgb(128, 128, 128);
  margin: 20px 0;
  font-family: Raleway;
  font-size: 2.5vw;
}

.apply-trafo-result .result-table {
  max-height: 63vh;
  overflow: auto;
  width: 70vw;
  margin: 0 auto;
}

.apply-trafo-result .result-table table {
  width: 100%;
}

.apply-trafo-result .result-table * {
  font-size: 1vw;
  text-align: center;
}

.apply-trafo-result .result-table table th {
  padding: 2vh 0;
}

.apply-trafo-result .result-table table th.pointId {
  width: 10%;
  color: #afa993;
  background-color: rgb(52, 54, 57);
}

.apply-trafo-result .result-table table .caption {
  color: #afa993;
  background-color: rgb(52, 54, 57);
}
