.geometry-screen {
    height: 100%;
    width: 72%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 200px;
  }
  
  .geometry-screen * {
    text-decoration: none;
  }
  
  .geometry-screen a:hover {
    text-decoration: none;
  }