.three-d-trafo-result {
  height: 76vh;
  margin: 12vh 2vw 0 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: Roboto;
}

.three-d-trafo-result h1 {
  color: rgb(128, 128, 128);
  margin: 20px 0;
  font-family: Raleway;
  font-size: 2.5vw;
}

.three-d-trafo-result .bar-graph {
  width: 65vw;
  height: 40vh;
  margin-top: 5vh;
}

.three-d-trafo-result .download-link {
  text-decoration: underline;
  color: darkblue;
  border: none;
  background: none;
}

.three-d-trafo-result .download-link:hover {
  cursor: pointer;
  color: blue;
}
