.three-d-trafo-result {
  width: 79%;
  height: 90vh;
  margin-left: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  font-family: Roboto;
}

.three-d-trafo-result h1 {
  font-size: 2.5em;
  border-bottom: 3px solid darkgreen;
  margin-bottom: 10px;
}

.three-d-trafo-result .result-table {
  padding-top: 10px;
  width: 80%;
  border-collapse: collapse;
}

.three-d-trafo-result .result-table * {
  font-size: 1.05em;
  text-align: center;
}

.three-d-trafo-result .result-table th {
  padding: 10px 0;
}

.three-d-trafo-result .result-table .caption {
  background-color: #d5d5d5;
}

.three-d-trafo-result .copy {
  font-size: 0.8em;
  padding: 10px;
}

.three-d-trafo-result .copy:hover {
  cursor: pointer;
}

.three-d-trafo-result .bar-graph {
  width: 80%;
  height: 40vh;
}

.three-d-trafo-result .download-link {
  text-decoration: underline;
  color: darkblue;
}

.three-d-trafo-result .download-link:hover {
  cursor: pointer;
  color: blue;
}