.points-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Roboto;
  font-size: 0.9vw;
}

.points-input .dropzone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 60vh;
  border: 3px dashed gray;
  border-radius: 5px;
  padding: 2vw;
}

.points-input .dropzone:hover {
  cursor: pointer;
}
