.fit-cylinder-input {
  width: 82vw;
  margin-left: 16vw;
  font-family: Roboto;
}

.fit-cylinder-input * {
  text-align: center;
}

.fit-cylinder-input h1 {
  color: rgb(128, 128, 128);
  padding: 20px 0;
}
