.points-table * {
  font-size: 1.02em;
  font-family: Roboto;
  text-align: center;
}

.points-table {
  padding-top: 20px;
}

.points-table .trash-icon {
  color: darkred;
  border: none;
}

.points-table .trash-icon:hover {
  cursor: pointer;
  color: rgb(180,0,0);
}

.points-table .trash-icon:focus {
  outline: 0;
}


.points-table table {
  width: 100%;
  border-collapse: collapse;
} 

.points-table th {
  padding: 8px;
}

.points-table th:first-child {
  width: 40px;
  padding: 0;
}

.points-table .grey {
  background-color: #d5d5d5;
}
