.points-table * {
  font-size: 1.03em;
}

.points-table {
  padding-top: 20px;
}


.points-table table {
  width: 100%;
  border-collapse: collapse;
} 

.points-table th {
  width: 10%;
}

.points-table th {
  padding: 8px;
}

.points-table .grey {
  background-color: #d5d5d5;
}
