.app-selection-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  height: 250px;
  width: 250px;
  padding: 10px;
  margin: 20px 10px 0px;
  border-radius: 10px;
  background: white;
}

.btn-link {
  text-decoration: none;
}

.app-selection-btn:hover {
  animation: app-selection-btn-transition linear 100ms forwards;
  cursor: pointer;
}

.app-selection-btn:active {
  transform: translateY(2px);
}

.app-selection-btn-caption {
  padding: 8px;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-stretch: condensed;
  line-height: 0.83;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  line-height: 120%;
  text-decoration: none;
}

.app-selection-btn-caption:hover {
  text-decoration: none;
}

.app-selection-btn-description {
  padding: 8px;
  font-family: Roboto;
  font-size: 14px;
  font-style: italic;
  font-stretch: condensed;
  line-height: 0.83;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  line-height: 140%;
  text-decoration: none;
}

.app-selection-btn .s3d-icon {
  height: 70px;
  width: 70px;
  margin: 0 auto;
}

.app-selection-btn .s3d-icon[data-category='3Dtransformation'] {
  background-image: url('../../images/3DTransformation.svg');
  width: 80px;
}

.app-selection-btn .s3d-icon[data-category='bundleAdjustment'] {
  background-image: url('../../images/Bundeladjustment.svg');
  background-size: 100% 100%;
}

.app-selection-btn .s3d-icon[data-category='fitCircleChebyshev'] {
  background-image: url('../../images/chebyshev-circle.svg');
  background-size: 100% 100%;
}

.app-selection-btn .s3d-icon[data-category='fitCircleL2'] {
  background-image: url('../../images/3DCircle.svg');
  background-size: 100% 100%;
}

.app-selection-btn .s3d-icon[data-category='fitCylinder'] {
  background-image: url('../../images/Cylinder.svg');
  background-size: 100% 100%;
}

.app-selection-btn .s3d-icon[data-category='fitLineL2'] {
  background-image: url('../../images/3DLine.svg');
  background-size: 100% 100%;
}

.app-selection-btn .s3d-icon[data-category='fitLineRansac'] {
  background-image: url('../../images/3DLine2.svg');
  background-size: 100% 100%;
}

.app-selection-btn .s3d-icon[data-category='fitPlaneGauss'] {
  background-image: url('../../images/Plane.svg');
  background-size: 100% 100%;
}

.app-selection-btn .s3d-icon[data-category='fitPlaneRansac'] {
  background-image: url('../../images/RANSACPlane.svg');
  background-size: 100% 100%;
}

.app-selection-btn .s3d-icon[data-category='fitPoint'] {
  background-image: url('../../images/Point.svg');
  background-size: 100% 100%;
}

.app-selection-btn .s3d-icon[data-category='fitSphere'] {
  background-image: url('../../images/Sphere.svg');
  background-size: 100% 100%;
}

.app-selection-btn .s3d-icon[data-category='paramInversion'] {
  background-image: url('../../images/InvertTransformationParameters.svg');
  background-size: 100% 100%;
}

.app-selection-btn .s3d-icon[data-category='quatCardan'] {
  background-image: url('../../images/QuatCardan.svg');
  background-size: 100% 100%;
}

.app-selection-btn .s3d-icon[data-category='transform'] {
  background-image: url('../../images/Transform.svg');
  background-size: 100% 100%;
}

@keyframes app-selection-btn-transition {
  0% {
    transform: scale(1);
    background: white;
  }
  100% {
    transform: scale(1.1);
    background: #cad9f7;
  }
}
