.bundle-adjustment-input {
  height: 100%;
  margin: 2vh 2vw 0 20vw;
  font-family: Roboto;
}

.bundle-adjustment-input * {
  text-align: center;
}

.bundle-adjustment-input h1 {
  font-size: 2vw;
  color: rgb(128, 128, 128);
  margin: 20px 0;
  font-family: Raleway;
}

.bundle-adjustment-input .bundle-input-table-and-dropdown {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bundle-adjustment-input .bundle-input-table-and-dropdown .bundle-dropdown {
  position: relative;
  display: inline-block;
}

.bundle-adjustment-input .bundle-input-table-and-dropdown .bundle-dropdown-btn {
  padding: 1vh 3vw;
  margin-top: 2vh;
  font-size: 1.5em;
  border: none;
  border-radius: 5px;
}

.bundle-adjustment-input
  .bundle-input-table-and-dropdown
  .bundle-dropdown-content {
  display: none;
  position: absolute;
}

.bundle-adjustment-input
  .bundle-input-table-and-dropdown
  .bundle-dropdown-content
  .dropdown-link {
  display: block;
  font-size: 1.25em;
  color: black;
  padding: 15px;
}

.bundle-adjustment-input
  .bundle-input-table-and-dropdown
  .bundle-dropdown-with-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vh 5vw 0 0;
}

.bundle-adjustment-input
  .bundle-input-table-and-dropdown
  .bundle-dropdown-caption {
  font-size: 2vw;
}

.bundle-adjustment-input
  .bundle-input-table-and-dropdown
  .bundle-dropdown:hover
  .bundle-dropdown-btn {
  background: #bbb;
}

.bundle-adjustment-input
  .bundle-input-table-and-dropdown
  .bundle-dropdown:hover
  .bundle-dropdown-content {
  display: block;
}

.bundle-adjustment-input
  .bundle-input-table-and-dropdown
  .bundle-dropdown-content
  .dropdown-link:hover {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
