.fit-line-ransac-input {
  width: 82vw;
  margin-left: 16vw;
  font-family: Roboto;
}

.fit-line-ransac-input h1 {
  color: rgb(128, 128, 128);
  padding: 20px 0;
  font-family: Raleway;
}

.fit-line-ransac-input .tolerance-input {
  float: left;
}

.fit-line-ransac-input .tolerance-input label {
  text-align: left;
  font-size: 1.5em;
  margin: 3vh 0 -1vh;
}

.fit-line-ransac-input .tolerance-input input {
  margin-left: 10px;
}
