.fit-line-ransac-input {
  height: 100%;
  margin: 15vh 2vw 0 2vw;
  font-family: Roboto;
}

.fit-line-ransac-input h1 {
  font-size: 2vw;
  color: rgb(128, 128, 128);
  margin: 20px 0;
  font-family: Raleway;
}

.fit-line-ransac-input .tolerance-input label {
  text-align: left;
  font-size: 1.5em;
  margin: 3vh 0 -1vh;
}

.fit-line-ransac-input .tolerance-input input {
  margin-left: 10px;
}

.fit-line-ransac-input .fit-line-ransac-dropzone-and-table {
  display: flex;
  justify-content: space-evenly;
}

.fit-line-ransac-input
  .fit-line-ransac-dropzone-and-table
  .fit-line-ransac-dropzone-and-tolerance {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fit-line-ransac-input
  .fit-line-ransac-dropzone-and-table
  .fit-line-ransac-points-table {
  width: 50vw;
}

.fit-line-ransac-input .fit-line-ransac-dropzone-and-table .dropzone {
  height: 50vh;
}
