.start-screen {
  height: 100%;
  width: 72%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 200px;
}

.start-screen * {
  text-decoration: none;
}

.start-screen a:hover {
  text-decoration: none;
}