.start-screen {
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  flex-direction: column;
}

.start-screen .header {
  color: #0375ba;
  justify-content: center;
  margin: 100px 0 50px;
  font-size: 4.5vw;
  text-align: center;
  font-family: Raleway;
}

.start-screen .subheader {
  color: #0165aa;
  justify-content: center;
  font-size: 2vw;
}

.start-screen .generalText {
  justify-content: center;
  font-size: 1.2vw;
}

.start-screen .lists {
  width: 50vw;
  justify-content: space-evenly;
  display: flex;
}

.start-screen .element {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.2vw;
  border-radius: 10px;
  background-color: #c5e0ff;
  padding: 2vh 0.4vw;
  margin: 20px 5px;
  width: 20vw;
}

.start-screen .element:hover {
  background-color: #9ab9ea;
  animation: start-screen-element-transition linear 150ms forwards;
}

.start-screen .element .element-header {
  align-self: center;
  font-size: 1.2vw;
  font-weight: bold;
  font-family: Raleway;
  margin: 0 0 1vh 1vw;
  color: #01458a;
}

.start-screen .element .element-header a:hover {
  text-decoration: none;
}

.start-screen .element ul li {
  text-align: left;
}

.start-screen .element ul li a {
  color: #444;
}

.start-screen .element ul li a:hover {
  text-decoration: none;
  color: #151515;
}

@keyframes start-screen-element-transition {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}
