.submit-btn {
  background: none;
  color: white;
  z-index: 999;
  border: none;
  opacity: 0.8;
}

.submit-btn .arrow-right {
  font-size: 3vw;
  margin-bottom: 1vh;
}

.submit-btn:hover {
  opacity: 1;
  cursor: pointer;
}
