.submit-btn {
  padding: 2vh 0;
  font-family: Roboto;
  font-size: 1.3em;
  width: 14vw;
  float: right;
  color: white;
  background: #0375ba;
  border-radius: 5px;
  border: 3px solid #058;
}

.submit-btn:hover {
  cursor: pointer;
  background: #0381bc;
  border: 3px solid #068;
}

.submit-btn .arrow-right {
  display: inline-block;
  font-size: 1.3em;
}
